.altitude-filter-panel {
  .panel-body {
    padding-top: 0;
  }

  .altitude-filter-summary {
    margin-top: 8px;
    font-size: 12px;
    color: #777;
  }

  .altitude-filter-warning {
    margin-top: 8px;
  }

  .histogram {
    margin-bottom: 4px;
  }
}
